RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9]+)/?$ connect.php?name=$1
# Redirect all non-file routes to index.html
RewriteRule ^(?!.*\.).*$ index.php [NC,L]